<% content_for :title, "Novo proponente" %>

<div class="container my-4">
  <div class="d-flex justify-content-between align-items-center mb-3">   
    <%= link_to "â† Voltar para proponentes", applicants_path, class: "btn btn-outline-secondary" %>
  </div>

  <%= render "form", applicant: @applicant %>
</div>
