<div class="container my-4 pt-5">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <%= link_to "â† Voltar para proponentes", applicants_path, class: "btn btn-outline-secondary" %>

    <%= button_to "ðŸ—‘ï¸ Excluir este proponente", @applicant, method: :delete, data: { confirm: "Tem certeza que deseja excluir este proponente?" }, class: "btn btn-danger" %>
  </div>

  <%= render "form", applicant: @applicant %>
</div>
