<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light border-bottom mb-3 px-3 py-2">
  <div class="container-fluid">
    <div class="d-flex">
      <%= link_to 'Home', root_path, class: 'navbar-brand' %>

      <% if user_signed_in? %>
        <%= link_to 'Proponentes', applicants_path, class: 'navbar-brand' %>
      <% end %>
    </div>

    <div class="ms-auto">
      <% if !user_signed_in? %>
        <%= link_to 'Login', new_user_session_path, class: 'navbar-brand' %>
      <% else %>
        <%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete }, class: 'navbar-brand' %>
      <% end %>
    </div>
  </div>
</nav>
