<% content_for :title, "Desconto INSS" %>

<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h1 class="display-4 text-primary mb-3">Desconto INSS</h1>
      <p class="lead text-muted">Calcule e simule os descontos do INSS de maneira rápida e fácil!</p>
    </div>
  </div>

  <div class="row justify-content-center mb-4">
    <div class="col-md-8">
      <p class="text-center text-secondary">
      </p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
    </div>
  </div>
</div>

